//шрифт подключаем
@font-face {
    font-family: 'Rubik-normal';
    font-weight: 400;
    src: url(fonts/Rubik.ttf);
}

@font-face {
    font-family: "Rubik-bold";
    font-weight: 700;
    src: url(fonts/Rubik.ttf);
}

//тени 
@mixin box-shadow ($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
  }

//общие классы для флексов
@mixin flex-conteiner-center {
    display: flex;
    justify-content: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

//шрифт
@mixin fonts-400 {
    font-family: 'Rubik-normal', 'Arial', sans-serif;
    font-weight: 400;
}

@mixin fonts-700 {
    font-family: 'Rubik-bold', 'Arial', sans-serif;
    font-weight: 700;
}

/* обнуляем */
a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

button {
    border: none;
    background: none;
}

/* погна */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #FFFFFF;
    @include fonts-400;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    .logo {
        @include flex-conteiner-center;
        gap: 6.12px;
        margin-left: 150px;

        img {
            width: 35px;
            height: 36.23px;
        }
    
        h1 {
            width: 104px;
            height: 24px;
            font-weight: 600;
            font-size: 20px;
            margin: 6.12px;

            span {
                @include fonts-700;
            }
        }
    }


    .navigation {
        @include flex-conteiner-center;
        color: #4F5665;
        font-size: 16px;
        gap: 40px;
    }

    .all-button {
        font-size: 16px;
        margin-right: 150px;

        .margin-button {
            margin-right: 30px;
            font-weight: 600;
        }

        .border-button {
            color: #F53855;
            font-weight: 600;
            border: 1px solid #F53855;
            border-radius: 50px;
            padding: 13px 45px;
        }
    }
}

main {

    .main-first {
        @include flex-row;
        justify-content: space-between;
        padding: 102px 150px 103px 150px;

        .colomn {
            display: flex;
            flex-direction: column;

            

            h1 {
                font-size: 50px;
                font-weight: 500;

                span {
                    @include fonts-700()
                }
            }

            h3 {
                font-size: 16px;
                font-weight: 200;
                color: #4F5665;

                span {
                    @include fonts-700()
                }
            }

            button {
                background-color: #F53838;
                color: #FFFFFF;
                align-self: flex-start;
                font-weight: 700;
                font-size: 16px;
                padding: 17.5px 77.5px;
                margin-top: 50px;
                border-radius: 10px;
                @include box-shadow(18px 34px 52px -8px rgba(245, 56, 56, 0.40));
            }

            .cover {
                display: flex;
                flex-direction: column;



                img {

                    width: 611.24px;
                    height: 382.44px;
                }
            }
        }
    }
    .layout {
        @include flex-conteiner-center;
        @include flex-row;
        justify-content: center;
        gap: 30px;
        border-radius: 10px;
        margin: 137px 60px 0 150px;
        @include box-shadow(30px 45px 39px 37px rgba(13, 16, 37, 0.12));

        .border {
            height: 125.57px;
            margin-top: 37.21px;
        }
        
        .case {
            @include flex-row;
             align-items: center;
             margin: 67px 100px;

             img {
                height: 55px;
                width: 55px;
             }

             h1 {
                font-size: 25px;
                margin-left: 36.5px;

                p {
                    font-size: 20px;
                    font-weight: 400;
                    color: #4F5665;
                    margin-top: 5px;
                }
             }
        }
    }

    .imgAndList{
        @include flex-row;
        justify-content: center;
        padding: 100px 190px 131px 150px;
        gap: 169.48px;

        .img {
            width: 508.12px;
            height: 414.71px;
        }

        .colomn2 {
            display: flex;
            flex-direction: column; 
            margin-right: 150px;

            h1 {
                font-size: 35px;
                font-weight: 500;
            }

            h3 {
                font-size: 16px;
                font-weight: 300;
                color: #4F5665;
            }
        }

        .list {
            display: flex;
            flex-direction: column;

            .element {
                display: flex;
                flex-direction: row;


                img {
                    height: 24px;
                    width: 24px;
                    margin-top: 16px;
                    margin-right: 10px;
                }
    
                span {
                    font-size: 14px;
                    font-weight: 300;
                    color: #4F5665;
                    margin: 20px 10px 15px 0;
                }
            }
        }
    }
}

section {
    background-color: #fcfcfc;
    position: relative;

    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        h1 {
            font-size: 35px;
            margin-top: 80.27px;
        }

        h3 {
            font-size: 16px;
            color: #4F5665;
            font-weight: 300;

            p {
                margin-left: 228px;
            }
        }
    }

    .cards {
        display: flex;
        flex-direction: row;
        margin-left: 176px;
        gap: 50px;
        margin-right: 176px;
        margin-bottom: 150px;


        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 80px 70px 50px;
            width: 330px;
            height: 760px;
            border: 2px solid #DDDDDD;
            background-color: #FFFFFF;
            border-radius: 10px;
            margin-top: 60px;

            &:hover {
                border: 2px solid #F53838;
            }

            img {
                width: 144.9px;
                height: 165.37px;
            }

            h1 {
                font-size: 18px;
                text-align: center;
            }

            .list {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 13px;
    
                .element {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 3px;
    
                    img {
                        height: 24px;
                        width: 24px;
                    }
        
                    span {
                        font-size: 14px;
                        font-weight: 300;
                        color: #4F5665;
                    }
                }
            }

            h3 {
                text-align: center;
                color: #0B132A;

                span {
                    color: #4F5665;
                    font-weight: 300;
                }
            }

            button {
                @include fonts-700;
                color: #F53838;
                border: 2px solid #F53838;
                border-radius: 50px;
                padding: 13px 63.53px;

                &:hover {
                    cursor: pointer;
                    color: #DDDDDD;
                    background-color: #F53838;
                    @include box-shadow(18px 34px 52px -8px rgba(245, 56, 56, 0.40));
                }
            }
        } 
    }

    .section-two {
        
        h1 {
            text-align: center;
            font-size: 35px;
            color: #0B132A;
            margin-top: 150px;
        }

        h4 {
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            color: #4F5665;

            span {
                @include fonts-700;
            }
        }

        img {
            width: 1060px;
            height: 537.77px;
            margin: 155.81px 0 0 189.14px;
        }

        .img-two {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1135.64px;
            height: 208.32px;
            margin: 6.45px 0 50px 144.14px;
        }

        .img-three {
            height: 590px;
            width: 1300px;
            margin-left: 150px;
            margin-bottom: 181.22px;
        }
    }

    .comments {
        display: flex;
        h1 {
            text-align: center;
            font-size: 35px;
            color: #0B132A;
            margin-top: 150px;
        }

        h5 {
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            color: #4F5665;
        }

        .com {
            display: flex;
            flex-direction: row;

            .com1 {
                display: flex;

                img {
                    width: 182px;
                    height: 50px;
                }

                .rate {
                    display: flex;
                    flex-direction: row;

                    p {
                        font-size: 16px;
                        font-weight: 300;
                    }

                    img {
                        width: 16px;
                        height: 16px;

                    }
                }
            }
        }
    }

    .position {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 340px;
        top: 3297px;
        bottom: 1px;
        left: 300px;
        border-radius: 10px;
        background-color: #FFFFFF;
        width: 1140px;
        height: 233px;

        .sect1 {
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 35px;
                @include fonts-700;
                color: #0B132A;
            }

            h4 {
                color: #4F5665;
                font-weight: 300;
                font-size: 16px;

            }
        }

        .sect2 {
                display: flex;
                flex-direction: column;

                button {
                    background-color: #F53838;
                    color: #FFFFFF;
                    align-self: flex-start;
                    font-weight: 700;
                    font-size: 16px;
                    padding: 17.5px 77.5px;
                    margin-top: 86.5px;
                    border-radius: 10px;
                    @include box-shadow(18px 34px 52px -8px rgba(245, 56, 56, 0.40));
                }
        }
    }
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 180px 150px 100px 150px;
    background: #F8F8F8;

    .post1 {
        display: flex;
        flex-direction: column;

        .logo {
            display: flex;
            gap: 6.12px;
    
            img {
                width: 35px;
                height: 36.23px;
            }
        
            h1 {
                width: 104px;
                height: 24px;
                font-weight: 600;
                font-size: 20px;
    
                span {
                    @include fonts-700;
                }
            }
        }

        h6 {
            font-size: 14px;
            font-weight: 200;
            color: #4F5665;

            span {
                @include fonts-700;
            }
        }

        .icon {
            display: flex;
            flex-direction: row;

            img {
                height: 60px;
                width: 60px;
            }
        }

        h4 {
            color: #4F5665;
            font-size: 10px;
            margin-bottom: 141.41px;
        }
    }

    .post3 {
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 16px;
            width: 71px;
            height: 30px;

        }

        h4 {
            font-weight: 300;
            font-size: 14px;
            color: #4F5665;
            width: 74px;
            height: 30px;

        }
    }
}

